@font-face {
  font-family: "poppins";
  /* font-weight: 400; */
  src: url("assets/fonts/poppins-regular-webfont.woff2") format("woff2"),
    url("assets/fonts/poppins-regular-webfont.woff") format("woff");
}

@font-face {
  font-family: "poppins";
  /* font-weight: 600; */
  src: url("assets/fonts/poppins-medium-webfont.woff2") format("woff2"),
    url("assets/fonts/poppins-medium-webfont.woff") format("woff");
}

@font-face {
  font-family: "kodchasan";
  /* font-weight: 900; */
  src: url("assets/fonts/kodchasan-bold-webfont.woff2") format("woff2"),
    url("assets/fonts/kodchasan-bold-webfont.woff") format("woff");
}

:root {
  --clr-neutral-100: #ffffff;
  --clr-neutral-300: #f9f9f9;
  --clr-neutral-800: #141414;
  --clr-neutral-900: #333333;
  --clr-primary-400: #01359d;
  --clr-primary-500: #0487d9;
  --clr-accent-600: #ff9a00;
  --clr-accent-700: #ff7400;
  --dropshadow-btn: 0px 2px 4px rgba(51, 51, 51, 0.25);
  --dropshadow-nav: 2px 0px 8px rgba(51, 51, 51, 0.25);

  --ff-primary: "poppins", Geneva, Verdana, sans-serif;
  --ff-secondary: "kodchasan", Geneva, Verdana, sans-serif;
  --fs-400: 1.125rem;
  --fs-500: 1.5rem;
  --fs-600: 1.75rem;
  --fs-800: 3rem;
}

body,
header,
ul,
main,
figure,
figcaption,
footer {
  display: block;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
}

html {
  background-image: url(../images/csm-bg.png);
  background-repeat: repeat;
}

body {
  max-width: 1440px;
  background-color: var(--clr-neutral-100);
  font-family: var(--ff-primary);
  font-size: var(--fs-400);
  margin-left: auto;
  margin-right: auto;
}

img,
svg {
  height: auto;
  max-width: 100%;
  border-radius: 12px 12px 0 0;
}

h1 {
  font-size: var(--fs-800);
  font-weight: 300;
  letter-spacing: 0.14rem;
  text-transform: uppercase;
  margin-left: 1rem;
}

h2 {
  font-size: var(--fs-500);
  font-weight: 400;
  letter-spacing: 0.14rem;
  text-transform: uppercase;
  padding: 0.5rem;
}

.subheader_bold {
  font-weight: 600;
}

.subheader_size {
  font-size: var(--fs-800);
  font-weight: 300;
}

p {
  padding: 0.5rem;
}

a {
  text-decoration: none;
}

a:link {
  color: var(--clr-neutral-900);
}

a:visited {
  color: var(--clr-neutral-900);
}

a:focus {
  color: var(--clr-primary-400);
}

a:hover {
  color: var(--clr-primary-400);
}

.active {
  color: var(--clr-primary-500);
}

ul {
  text-align: center;
  list-style-type: none;
}

li {
  text-transform: uppercase;
}

/* ----------LOGO & NAVIGATION -------------- */

.logo {
  padding: 1rem;
}

.logo-symbol {
  max-height: 52px;
  animation-name: spin;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  padding-right: 0.5rem;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

nav a {
  color: var(--clr-neutral-900);
  padding: 0.5rem;
  display: block;
}

nav a:hover,
nav a:focus {
  color: var(--clr-primary-400);
}

.menu {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--clr-neutral-100);
  position: fixed;
  z-index: 100;
  bottom: 0;
  width: 100vw;
  box-shadow: var(--dropshadow-nav);
  height: 58px;
}

main {
  background-color: var(--clr-neutral-100);
}

/*-------------ICONS -----------*/

.material-icons {
  margin-bottom: 0.5rem;
  font-size: 36px;
  border-radius: 3px;
}

.material-icons.home {
  color: var(--clr-neutral-900);
}
.material-icons.home:hover {
  background-color: var(--clr-neutral-900);
  background-image: linear-gradient(
    to bottom,
    #01359d,
    #901f97,
    #d50078,
    #fb314b,
    #ff7400
  );
  color: var(--clr-neutral-100);
}

.material-icons.signs {
  color: var(--clr-primary-400);
}
.material-icons.signs:hover {
  background-color: var(--clr-primary-400);
  color: var(--clr-neutral-100);
}

.material-icons.events {
  color: var(--clr-primary-500);
}
.material-icons.events:hover {
  background-color: var(--clr-primary-500);
  color: var(--clr-neutral-100);
}

.material-icons.involve {
  color: var(--clr-accent-700);
}
.material-icons.involve:hover {
  background-color: var(--clr-accent-700);
  color: var(--clr-neutral-100);
}

.material-icons.visit {
  color: var(--clr-accent-600);
}
.material-icons.visit:hover {
  background-color: var(--clr-accent-600);

  color: var(--clr-neutral-100);
}

/* ------------ CARDS & IMAGES ------------*/

.card {
  display: grid;
  grid-template-columns: 1fr;
  background-color: var(--clr-neutral-300);
  border-radius: 12px;
  margin: 1rem;
  box-shadow: var(--dropshadow-btn);
}

.image {
  width: 100%;
  height: 270px;
  object-fit: cover;
}

.container-news {
  flex-direction: column;
  flex: 180px 1 0;
  background-color: var(--clr-neutral-100);
  position: relative;
  height: auto;
}

.news_item {
  width: min(100%, 350px);
}

.title {
  padding: 0.5rem;
  text-decoration: underline;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: top;
}

.container-wrapper {
  padding: 0.5rem;
}

.container-list {
  display: flex;
  justify-content: space-between;
  align-items: top;
  flex-wrap: wrap;
}

.container-item {
  flex-direction: column;
  flex: 180px 1 0;
  background-color: var(--clr-neutral-300);
  box-shadow: var(--dropshadow-btn);
  list-style-type: none;
  border-radius: 12px;
  margin: 0.5rem;
  position: relative;
  height: auto;
}

/* ---------BUTTONS & ANIMATIONS ------------*/

.dots_position {
  padding-right: 0.8rem;
  margin-top: 0.8rem;
}

.dot {
  margin-top: 0.6rem;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  position: relative;
  animation-name: dot;
  animation-duration: 3s;
  animation-delay: 2;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

@keyframes dot {
  from {
    top: 0px;
    background-color: var(--clr-primary-400);
  }
  to {
    top: 0px;
    background-color: var(--clr-primary-500);
  }
}

.button {
  font-family: var(--ff-secondary);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.12rem;
  text-align: center;
  border: 0;
  border-radius: 75px;
  padding: 0.5rem 1rem;
  margin: 1rem;
}

.button-light {
  background-color: var(--clr-neutral-100);
  color: var(--clr-neutral-900);
  border: 2px solid var(--clr-accent-700);
}

.button-light:hover {
  background-color: var(--clr-accent-700);
  box-shadow: var(--dropshadow-btn);
}

.button-dark {
  background-color: var(--clr-primary-400);
  color: var(--clr-neutral-100);
  box-shadow: var(--dropshadow-btn);
}

.button-dark:hover {
  background-color: var(--clr-primary-500);
}

.center {
  display: grid;
  place-items: center;
}

/* ----------------- AD ---------------*/

.aside {
  background-color: var(--clr-neutral-900);
  background-image: url(../images/winter-event-large.jpg);
  background-size: cover;
  height: 650px;
  background-position: center bottom;
  background-repeat: no-repeat;
  color: var(--clr-neutral-100);
  font-family: var(--ff-secondary);
  font-size: var(--fs-500);
  font-weight: var(--fw-bold);
  letter-spacing: 0.12rem;
  text-transform: uppercase;
  padding: 6rem 4rem;
}

.aside p {
  line-height: 1.2;
}

.bg-color {
  background-color: var(--clr-neutral-900);
}

/* ----------- FOOTER ---------------*/

footer {
  background-color: var(--clr-neutral-900);
  color: var(--clr-neutral-100);
  text-align: center;
  padding-bottom: 100px;
}

.footer a {
  color: var(--clr-neutral-100);
}

.footer a:hover {
  color: var(--clr-accent-700);
}

.footer a.active {
  color: var(--clr-accent-600);
}

/* -----------media queries----------- */

@media screen and (min-width: 48em) {
  h1 {
    margin-left: 2rem;
  }

  h2 {
    margin-left: 2rem;
  }
  main {
    background-color: var(--clr-neutral-100);
    padding-top: 76px;
  }

  .nav-desk {
    padding-top: 0.5rem;
    display: flex;
    flex-wrap: nowrap;
  }

  .nav-desk_navbar {
    flex-grow: 1;
  }

  .nav-desk_list {
    display: flex;
    gap: 0.5rem;
  }

  .nav-desk_list li:nth-of-type(1) {
    margin-left: auto;
  }

  .logo {
    display: none;
  }

  .desktop-logo {
    display: none;
  }

  .nav-mobile {
    display: none;
  }

  .menu {
    top: 0;
    height: 80px;
  }

  .card {
    margin: 1rem 2rem;
  }

  .image {
    height: 500px;
  }

  .container-wrapper {
    padding: 0.5rem 2rem;
  }

  .news_item {
    padding: 0.5rem;
  }

  .aside {
    background-image: url(../images/tipi-event.jpg);
    padding: 10rem;
  }
}
